<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>About</title>
	</head>
	

	<body>
		<h1>This tutorial has been put together by Tom Esparon on 20/01/2017</h1>
		<div>
			Now here is a thing about a cat<br />
			<strong>{{ boldmessagecat }}</strong><br />
			<img src="{{ MEDIA_URL}}cat.jpg">
		</div>
		<div>
			<a href="/rango/">Home</a><br />
			<img src='{% static "images/rango.jpg" %}'<!--Test wanted a static image of unspecified nature/static/images/rango.jpg Failing for some reason... -->
		</div>
	</body>
	
</html>